<div class="card-header">
    <i class="bi bi-person-lines-fill"></i>  Consultations-List
</div>
<div class="header">
    <input class="form-control" type="text"
        placeholder="Search Here ... " 
        [(ngModel)]="filter"    
    />
<br/>
</div>
  <table class="table table-dark table-hover">
      <thead>
          <tr>
              <th>Consultation ID</th>
              <th>Patient Name</th>
              <th>Diagnosis</th>
              <th>Medicine</th>
              <th>Tests</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let con of consultationService.consultation | filter: filter" >
              <td>{{con.consultationID}}</td>
              <td>{{con.appointment.patient.fullName}}</td>
              <td>{{con.diagonosis}}</td>
              <td><button type="button" class="btn btn-success">View</button></td>
              <td><button type="button" class="btn btn-secondary">View</button></td>

          </tr>
      </tbody>
  </table>
