<app-header></app-header>
<div class="container">
    <div class="dashboard-card shadow-lg">
        <h2>Receptionist Dashboard</h2>
    </div>

    <div class="button-card">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a class="btn btn-primary" href="/patient" >Patient Management</a><p></p>
                        <a class="btn btn-primary" href="/appoint">Appointments Management</a><p></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
