<app-header></app-header>
<div class="jumbtron">

    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <a class="btn btn-primary" href="/consultationList" >Consultations List</a><p></p>
    </div>
    
    <!-- <nav id="navbar-example2" class="navbar navbar-light bg-light" class="navbarlight">
		<a class="navbar-brand" href="/consultationList"  >Consultations List</a>
	</nav> -->

    <div class="row">
        <div class="col-md-5">
            <app-medicine></app-medicine>

        </div>

        <div class="col-md-7">
            <app-medicine-list></app-medicine-list>
        </div>
    </div>



</div>