<div class="card-header" style="margin-bottom: 5px;">
    New Consultation
</div>
<form name="conform" #form="ngForm" autocomplete="off" novalidate
(ngSubmit)="onSubmit(form)">
    <p>Appointment Id: {{appID}}</p>
    <input type="number" value="{{appID}}" name="id" [(ngModel)]="consultationService.formData.appointmentID">

    <!--Diaganosis-->
    <div class="form-group" class="input-group mb-3">
        <span class="input-group-text" >Diagnosis</span>
        <input name="diagonosis" id="diagonosis"
            #diagonosis="ngModel" 
            [(ngModel)]="consultationService.formData.diagonosis"
            type="text" class="form-control"
            placeholder="Enter Diagnosis"
            minlength="3" maxlength="25" required
            [ngClass]="{'is-invalid':diagonosis.touched && diagonosis.invalid}" 
        ><br>
        <div class="validation-error" *ngIf="diagonosis.touched && diagonosis.invalid">
            <br><div *ngIf="diagonosis.errors">Diagnosis Required</div>
        </div>
    </div>

    <!-- impoting medicine prescribed component-->
    <app-medicine-prescribed></app-medicine-prescribed>

    <!-- impoting lab tests component-->
    <app-lab-test-prescribed></app-lab-test-prescribed>

    <!-- impoting notes component-->
    <app-note></app-note>
    
    <hr>

    <div style="margin-top: 10px" class="form-group">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" [disabled]="!(form.valid && form.dirty)">Submit</button>
        </div>
    </div>

</form>