<div>
    <form name="testform" #form="ngForm" autocomplete="off" novalidate
        (ngSubmit)="onSubmitTest(form)">
    
        <input type="number" name="consultationID" 
        [(ngModel)]="labTestPrescribedService.formData.consultationID">

        <div class="form-group"class="input-group mb-3">
            <span class="input-group-text">Lab Test</span>
            <select name="testID" id="testID"
            class="form-control" required 
            #testID="ngModel"
            [(ngModel)]="labTestPrescribedService.formData.testID"
            >
                <option default>Choose Test</option>
                <option *ngFor="let test of labTestPrescribedService.tests"
                value="{{test.testID}}">{{test.testName}}</option>
            </select>

            <button class="btn btn-primary" type="submit" [disabled]="!(form.valid && form.dirty)">Add</button>
        </div>

    </form>
</div>