nav{
    border-bottom: 2px solid rgba(23, 15, 15, 0.541);
    border-right: 2px solid rgba(23, 15, 15, 0.541);
    border-top-right-radius: 20px;
    min-height: 40px;
    background-color: rgba(19, 16, 16, 0.684);
    padding-left: 10px;
    margin-top: 5px;
    text-decoration: beige;
}

a{
    color: aliceblue;
}